# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
/bin/
vendor/

# Node
node_modules/
package-lock.json
pnpm-lock.yaml
*.vsix

# OS
.DS_Store
Thumbs.db
*.cov

# Examples (local testing only)
examples/
/luxo
cover.out
